fastapi==0.110.0
uvicorn[standard]==0.29.0

python-dotenv==1.0.1
python-multipart==0.0.9

aiohttp==3.9.3
requests==2.31.0

pydantic==2.6.4
pypdf==4.1.0

langgraph
langchain-core
langchain-groq

chromadb==0.4.24
sentence-transformers==2.6.1

networkx==3.2.1
neo4j>=5.18.0